{{template "base" .}}

{{define "title"}}
    Virtual Terminal
{{end}}

{{define "content"}}
<h2>Virtual Terminal</h2>
{{end}}

{{define "js"}}
<script>
    // Add any page-specific JS here (none required for now)
</script>
{{end}}